{%- comment -%}
  Pagination
    - Displays the pagination for the collection section

  Params:
    - class: a string to be used as an additional class
    - paginate: the Shopify pageinate object

  Version:
    1.0.0 - 2021/11/15
{%- endcomment -%}

{%- liquid
  capture perPage
    render 'tool.collection-per-page'
  endcapture

  assign productsTotal = collection.products.size
-%}

{%- comment -%} No js pagination (fallback) {%- endcomment -%}
<div class="c-collection-pagination no-js">
  {%- render 'object.pagination' with {
    paginate: paginate
  } -%}
</div>

{%- comment -%} JS pagination {%- endcomment -%}
<div class="c-collection-pagination has-js {{ class }}" data-collection-template-pagination>
  {%- liquid
    assign current_page = paginate.current_page
    assign page_size = paginate.page_size
    assign currently_showing = current_page | times: page_size

    if currently_showing >= collection.products_count
      assign currently_showing = collection.products_count
    endif
  -%}
  <p class="c-collection-pagination__count">Currently showing {{ currently_showing }} out of {{ collection.products_count }}</p>

  <div id="c-collection-pagination__wrapper">
    
    {% if paginate.next %}
    <button
      type="button"
      class="c-collection-pagination__btn"
      {% comment %}
      data-collection-template-load-more
      {% endcomment %}
      data-collection-load-more
      data-next-url="{{ paginate.next.url }}"
    >
      <span class="c-collection-pagination__btn-label o-heading--6">
        {{- 'collections.collection.load_more_btn' | t -}}
        <span class="c-collection-loader"></span>
      </span>
      

      {%- comment -%} Image {%- endcomment -%}
      <div class="c-collection-pagination__illustration-wrapper">
        <div class="c-collection-pagination__illustration-container o-responsive-image-container">
          <img
            src="{{ 'svg.shape-16.svg' | asset_url }}"
            alt=""
            width="215"
            height="139"
            lazy="true"
            class="c-collection-pagination__illustration o-responsive-image"
          >
        </div>
      </div>
    </button>
    {% endif %}
  </div>
</div>