{% comment %}
  Reset Password Form
    Simple forgot password form

  Version:
    1.0.0 - 2020/03/25
{% endcomment %}


<div class="c-reset-password {{ class }}" data-reset-password-form>

  <h2>
    <span class="p-customer__title c-reset-password__title o-title o-heading__inner o-heading--3">
      {{- 'customer.recover_password.title' | t -}}
    </span>
  </h2>


  <div class="c-reset-password__success-message is-hidden" data-reset-password-success-message>
    <p>{{- 'customer.recover_password.success' | t -}}</p>
  </div>

  <div class="c-reset-password__form-container" data-reset-password-form-container>

    <p class="c-reset-password__subtitle">
      {{- 'customer.recover_password.subtext' | t -}}
    </p>

    {%- form 'recover_customer_password' -%}

      <input type="hidden" name="return_to" value="/account/login#recovered-password" />
      {%- if form.errors -%}
        <div class="o-form__errors c-reset-password__form-errors">
          {{- form.errors | default_errors -}}
        </div>
      {%- endif -%}

      {%- if form.posted_successfully? -%}
        <p class="o-form__password-success">
          {{- 'customer.recover_password.success' | t -}}
        </p>

        <button
          type="button"
          class="o-btn c-reset-password__cancel"
          data-reset-password-toggle
        >
          {{- 'customer.recover_password.cancel' | t -}}
        </button>
      {%- else -%}

        <div class="o-form__input-group {%if form.errors contains 'email'%}has-error{%endif%}">
          <input
            type="email"
            placeholder="{{'customer.recover_password.email_placeholder' | t}}"
            name="email"
            class="
              o-input
              o-form__text
              c-login-register__input
              {%if form.errors contains 'email'%}has-error{%endif%}
            "
            value="{%if form.email%}{{form.email}}{%endif%}"
            required
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
          />
        </div>

        <div class="c-reset-password__btn-row">
          <button type="submit" class="o-btn c-reset-password__btn p-customer__btn">
            {{- 'customer.recover_password.submit' | t -}}
          </button>

          <button
            type="button"
            class="o-btn c-reset-password__btn p-customer__btn"
            data-reset-password-hide
          >
            {{- 'customer.recover_password.cancel' | t -}}
          </button>
        </div>

      {%- endif -%}

    {%- endform -%}

  </div>

</div>
