<!DOCTYPE HTML>
<!--[if IE 9]> <html class="is-ie9 js-unavailable supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="js-unavailable supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
  <head>
    {%- comment -%} Head Tags Snippet (Site and Layout wide) {%- endcomment -%}
    {%- render 'tool.head-tags' -%}

    {%- comment -%}
      Extra injected data into the header by Shopify
    {%- endcomment -%}
    {{ content_for_header }}
  </head>

  <body id="{{ page_title | handle }}" class="c-page c-page--{{ template.name | handle }}">
    {%- comment -%} Accessibility skip link {%- endcomment -%}
    <a class="u-visually-hidden" href="#MainContent">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>

    {%- comment -%} Entire Page Wrapper {%- endcomment -%}
    <div class="c-page__wrapper">

      {%- comment -%} Main (Template) Content {%- endcomment -%}
      <main role="main" class="o-main">
        <div class="o-main__wrapper" id="MainContent">
          {{ content_for_layout }}
        </div>
      </main>
    </div>

    {%- comment -%} Body End Tags {%- endcomment -%}
    {%- render 'tool.body-end-tags' with { layout: 'password' } -%}
  </body>
</html>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append:'x' %}
      "logo": "https:{{ section.settings.logo | img_url: image_size }}",
    {% endif %}
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>
