<!DOCTYPE HTML>
<html class="js-unavailable" lang="{{ shop.locale }}">
  <head>
  {% render 'elevar-head' %}
    {%- render 'tool.head-tags' -%}
    {{ content_for_header }}
  
	{% capture magic_headers %}{% include 'magic360.headers' %}{% endcapture %}{% unless magic_headers contains 'Liquid error' %}{{magic_headers}}{% endunless %}
    {% comment %}

    {% endcomment %}
  </head>

  <body class="c-page c-page--{{ template.name | handle }} is-menu-open" data-domain={{shop.permanent_domain}}>
    {% render 'elevar-body-end' %}
    <script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} {% if product.first_available_variant.price %}window.KlarnaThemeGlobals.data_purchase_amount = {{ product.first_available_variant.price }};{% endif %}window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-574FC44" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
    <script>
      var klaviyo = klaviyo || [];
      klaviyo.init({
        account: "gkjgZN",
        list: "rVnKbM",
        platform: "shopify"
      });
      klaviyo.enable("backinstock", {
        trigger: {
          product_page_text: "Notify me when available",
          product_page_class: "btn",
          product_page_text_align: "center",
          product_page_margin: "0px",
          alternate_anchor: "AddToCart",
          replace_anchor: false
        },
        modal: {
          headline: "{product_name}",
          body_content: "Enter your email and we’ll make sure you’re first to know when it’s back in stock!",
          email_field_label: "Enter your email address",
          additional_styles: "@import url('https://fonts.googleapis.com/css?family=Varela+Round');",
          font_family: 'Varela Round',
          button_label: "LET ME KNOW",
          subscription_success_label: "You're in! We'll let you know when it's back.",
          newsletter_subscribe_label: "MAKE MY INBOX MORE FUN! (join our mailing list 😉)",
          subscribe_checked: true,
          drop_background_color: "#7f8c8d",
          background_color: "#fff",
          text_color: "#7f8c8d",
          button_text_color: "#fff",
          button_background_color: "#f37b90",
          close_button_color: "#7f8c8d",
          error_background_color: "#fcd6d7",
          error_text_color: "#C72E2F",
          success_background_color: "#d3efcd",
          success_text_color: "#1B9500"
        }
      });
    </script>

    <script src="{{ 'alpine.api.js' | asset_url }}"></script>

    {%- comment -%} Accessibility skip link {%- endcomment -%}
    <a class="u-visually-hidden" href="#MainContent">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>

    {%- comment -%} Entire Page Wrapper {%- endcomment -%}
    <div class="c-page__wrapper">
      <main class="o-main" id="MainContent" role="main">
        <div class="o-main__wrapper">
          
          {%- comment -%} Static (Site Wide) Sections {%- endcomment -%}
          {%- sections 'announcement-group' -%}
          {%- section 'header' -%}
          {%- section 'featured-menu-links' -%}
          
          {{ content_for_layout }}

          {%- section 'footer' -%}
          {%- section 'promotions' -%}
          {%- section 'cart-drawer' -%}
          {%- section 'free-gwp-message' -%}
        </div>
      </main>
    </div>

    {%- comment -%} Global Swatches {%- endcomment -%}
    {% comment %}
    {%- section 'swatch-theme-editor' -%}
    {% endcomment %}

    {%- render 'tool.body-end-tags' -%}

    <div id="overlay"></div>
    {% include 'smile-initializer' %}
    {% render 'spurit_sct_theme_snippet' %}

    <script src="{{ 'swiper@8.1.5.min.js' | asset_url }}" async></script>
    <script src="{{ 'alpinejs@3.12.0.min.js' | asset_url }}" defer></script>
    <script src="{{ 'ajaxinate.min.js' | asset_url }}" defer></script>
    <script src="{{ '_pikaday@1.8.2.min.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>
    <script src="{{ 'collection.infinitescroll.js' | asset_url }}" defer></script>

    {% comment %}
    {% if template contains 'product' %}
      {% if product.handle == 'test-design' %}
        {% render 'klaviyo-back-in-stock' %}
      {% endif %}
    {% endif %}
    {% endcomment %}
    

<script>
  scrollLoad = function(){setTimeout( function(){
    jdgm.customizeBadges();
  }, 500);}
  const loadMore = document.querySelector('span.c-collection-pagination__btn-label.o-heading--6');


  if(loadMore) {
    loadMore.addEventListener("click", scrollLoad);
  }


  document.addEventListener('DOMContentLoaded', function () {
    const paginationBtn = document.querySelector('.c-collection-pagination__btn')

    if(paginationBtn) {
      paginationBtn.addEventListener('click', () => {
        setTimeout(function () {
            document.querySelectorAll(".o-product-thumbnail").forEach(item => {
                if (!item.querySelector('.jdgm-widget.jdgm-preview-badge')) {
                    const newElement = document.createElement('div');
                    newElement.classList.add('jdgm-badge-placeholder')
                    newElement.setAttribute('data-handle', item.querySelector('.o-product-thumbnail__title-container').getAttribute('href').split('/')[2])
                    item.querySelector('.o-product-thumbnail__pricing-container').insertAdjacentElement('afterend', newElement);
                }
            })


            var data;
            data = $.map($('.jdgm-badge-placeholder'), function (element) {
                var hash = {};
                var $element = $(element);
                hash['productHandle'] = $element.data('handle');
                hash['badgePlaceholder'] = '.jdgm-badge-placeholder[data-handle="' + $element.data('handle') + '"]';
                return hash;
            });
            setTimeout(function () {
                jdgm.batchRenderBadges(data);
            }, 500);
        });
      }, 100);
    }
  })

</script>

   
        
</body>
  

  
</html>

<style>
  .jdgm-badge-placeholder{
    text-align: center;
}
  /* .jdgm-all-reviews-widget {
    max-width: 1200px !important;
    margin: 0 auto !important;
  }
  #shopify-block-judge_me_reviews_all_reviews_page_mbwgEp {
    background-color: #f8f3ec !important;
  } */
</style>

{% section 'sezzle-widget' %}

<script src='https://widget.sezzle.com/v1/javascript/price-widget?uuid=a73869bb-0bb2-4cc5-9dc5-3302a542d051' defer></script>
