{%- comment -%}
  Hero banner
    Section to display hero banner with split sections
    - Half the banner shows a featured product, the other half shows a featured
    image

  Version:
    1.0.0 - 2021/09/05
{%- endcomment -%}

{{ 'sections.hero-split.css' | asset_url | stylesheet_tag }}

{%- comment -%} Initial variables needed to check section {%- endcomment -%}

{% capture style_vars %}
  --hero--bottom-text-bg-color: {{ section.settings.hero--bottom-text-bg-color }};
  --hero--bottom-text-color: {{ section.settings.hero--bottom-text-color }};
{% endcapture %}

{% liquid 
  assign has_text_block = false
  assign text_blocks = section.blocks | where: 'type', 'richtext'
  if text_blocks.size > 0
    assign has_text_block = true
  endif
%}

<section class="c-hero-split is-split"
  style="{{ style_vars }}">
  <div class="c-hero-split__inner image-{{ section.settings.image_position }}">
    {%- comment -%} Columns {%- endcomment -%}
    <div class="c-hero-split__columns">
      {% for block in section.blocks %}
      {%- comment -%} Banner Image {%- endcomment -%}
      {% if block.type == 'image' %}
        {% liquid 
          assign imageDesktop = block.settings.desktop-image
          assign imageMobile = block.settings.mobile-image
          assign imageURL = block.settings.url
        %}
        <div class="c-hero-split__image-wrapper" {{ block.shopify_attributes }}>
          <div class="o-responsive-image-container c-hero-split__image-container">
            {% if imageURL != blank %}<a href="{{ imageURL }}">{% endif %}
            {%- comment -%} Desktop Image {%- endcomment -%}
            {%- capture pictureClass -%}
              c-hero-split__image
              o-responsive-image
              is-desktop
              {% if imageMobile != blank %}has-mobile{%- endif -%}
            {%- endcapture -%}

            {%- render 'tool.picture' with {
              image: imageDesktop,
              class: pictureClass,
              width: 1280,
              sizes: '320,375,500,750,1100,1650,2000',
              imageSizes: '320,375,500,750,800,1080,1160'
            } -%}

            {%- comment -%} Mobile Image {%- endcomment -%}
            {%- if imageMobile != blank -%}
              {%- assign pictureClass = 'c-hero-split__image o-responsive-image is-mobile' -%}

              {%- render 'tool.picture' with {
                image: imageMobile,
                class: pictureClass,
                width: 750,
                sizes: '320,375,500'
              } -%}
            {%- endif -%}
            {% if imageURL != blank %}</a>{% endif %}
          </div>

          {%- liquid
            assign ctaLabel = section.settings.cta-label | escape  
          -%}
          {%- comment -%} Call to action - SPLIT {%- endcomment -%}
          {% unless has_text_block %}
          {%- if ctaLabel != blank and forloop.first -%}
            <div class="c-hero-split__cta-wrapper">
              <a
                href="{{- section.settings.cta-url -}}"
                class="c-hero-split__cta"
              >
                {%- render 'svg.shape-1' with {
                  fill: section.settings.cta-background,
                  class: "c-hero-split__cta-bg"
                } -%}
                <span class="c-hero-split__cta-label">
                  {{- ctaLabel -}}
                </span>
              </a>
            </div>
          {%- endif -%}
          {% endunless %}
        </div>
      {% endif %}

      {%- comment -%} Richtext {%- endcomment -%}
      {% if block.type == 'richtext' %}
        {% liquid 
          assign title = block.settings.title | escape
          assign subtitle = block.settings.subtitle
          assign ctaLabel = block.settings.cta-label | escape
          assign ctaLabel = block.settings.cta-label | escape  
          assign ctaUrl = block.settings.cta-url
        %}
      
        <div class="c-hero-split__featured-container" {{ block.shopify_attributes }}>
          {%- comment -%} Title {%- endcomment -%}
          {%- if title != blank -%}
            <h2 class="c-hero-split__featured-title o-heading--3">
              {{- title -}}
            </h2>
          {%- endif -%}

          {%- comment -%} Subtitle {%- endcomment -%}
          {%- if subtitle != blank -%}
            <p class="c-hero-split__featured-subtitle">
              {{- subtitle -}}
            </p>
          {%- endif -%}

          {%- comment -%} Call to action{%- endcomment -%}
          {%- if ctaLabel != blank -%}
              <a
                href="{{- ctaUrl -}}"
                class="o-btn"
                style="width: fit-content; margin: .875rem auto 0">
                  {{- ctaLabel -}}
              </a>
          {%- endif -%}        
        </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  {% if section.settings.banner_bottom_text != blank %}
  <div class="hero--bottom-text">
    {{ section.settings.banner_bottom_text }}
  </div>
  {% endif %}  
</section>

{% schema %}
{
  "name": "Hero Banner - Split *NEW*",
  "class": "c-section c-section__hero-split c-section__hero-split-new",
  "presets": [
    {
      "category": "Banners",
      "name": "Hero Banner - Split *NEW*"
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "Position setting only applies when 1 richtext and 1 image block used"
    },
    {
      "type": "select",
      "id": "image_position",
      "info": "Controls Image position (Desktop only)",
      "label": "Image Position",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "default": "right"
    },
    {
      "type": "header",
      "content": "Call to Action (SPLIT CTA)"
    },
    {
      "type": "paragraph",
      "content": "Visible only when 2 Image slots are used"
    },
    {
      "type": "text",
      "id": "cta-label",
      "label": "CTA Label",
      "default": "Shop now",
      "info": "Keep to 3 words max. Anymore then this will spill outside the cta shape."
    },
    {
      "type": "url",
      "id": "cta-url",
      "label": "Link CTA to URL"
    },
    {
      "type": "color",
      "id": "cta-background",
      "label": "Button background colour",
      "default": "#FDCF5E"
    },
    {
      "type": "header",
      "content": "Banner Bottom Text"
    },
    {
      "type": "richtext",
      "id": "banner_bottom_text",
      "label": "Bottom Text"
    },
    {
      "type": "color",
      "label": "Background Color",
      "id": "hero--bottom-text-bg-color"
    },
    {
      "type": "color",
      "label": "Text Color",
      "id": "hero--bottom-text-color"
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "name": "Content - Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "mobile-image",
          "label": "Mobile Image",
          "info": "Dimensions: 750px X 480px"
        },
        {
          "type": "image_picker",
          "id": "desktop-image",
          "label": "Desktop Image",
          "info": "Dimensions: 2560px X 2356px"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link Image to URL"
        }
      ]
    },
    {
      "name": "Content - Richtext",
      "type": "richtext",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Section Title"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur reiciendis porro ipsum </p>"
        },
        {
          "type": "header",
          "content": "Call to Action"
        },
        {
          "type": "text",
          "id": "cta-label",
          "label": "CTA Label",
          "default": "Shop now",
          "info": "Keep to 3 words max. Anymore then this will spill outside the cta shape."
        },
        {
          "type": "url",
          "id": "cta-url",
          "label": "Link CTA to URL"
        }
      ]
    }
  ]
}
{% endschema %}