{%- comment -%}
  Callout CTA
    Section to show callout with some content, a cta button, an image and illustration

  Version:
    1.0.0 - 2021/11/10
{%- endcomment -%}

{{ 'sections.callout-cta.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign title = section.settings.title | escape
  assign description = section.settings.description
  assign image = section.settings.image
  assign ctaLabel = section.settings.cta-label | escape
  assign ctaUrl = section.settings.cta-url

  assign topWave = section.settings.top-wave
  assign topColor1 = section.settings.top-color-1
  assign topColor2 = section.settings.top-color-2
  assign isFlippedTop = section.settings.flip-top-wave

  assign bottomWave = section.settings.bottom-wave
  assign bottomColor1 = section.settings.bottom-color-1
  assign bottomColor2 = section.settings.bottom-color-2
  assign isFlippedBottom = section.settings.flip-bottom-wave
-%}

{%- if  title != blank or description != blank -%}

  {%- comment -%} Top Wave {%- endcomment -%}
  {%- if topWave != "0" -%}
    {%- render 'object.wave' with {
      waveNumber:topWave
      color1: topColor1
      color2: topColor2,
      isFlipped: isFlippedTop
    } -%}       
  {%- endif -%}

  <section class="c-callout-cta">

    <div class="c-callout-cta__inner">
      {%- if image != blank -%}
        <div class="c-callout-cta__graphic-content">
          <div class="c-callout-cta__image-wrapper">
            <div class="c-callout-cta__image-container o-responsive-image-container">
              {%- render 'tool.picture' with {
                image: image,
                class: 'c-callout-cta__image o-responsive-image',
                width: 560,
                sizes: '320,375,500',
                imageSizes: '320,500',
                lazy: true
              } -%}
            </div>
          </div>
        </div>
      {%- endif -%}

      {%- comment -%} Callout content {%- endcomment -%}
      {%- if title != blank or description != blank -%}
        <div class="c-callout-cta__wrapper">
          {%- comment -%} Title {%- endcomment -%}
          {%- if title != blank -%}
            <h2 class="c-callout-cta__title o-heading--4">
              {{- title -}}
            </h2>
          {%- endif -%}

          {%- comment -%} Description {%- endcomment -%}
          {%- if description != blank -%}
            <p class="c-callout-cta__description">
              {{- description -}}
            </p>
          {% endif %}

          {%- comment -%} CTA {%- endcomment -%}
          {% if ctaLabel != blank and ctaUrl != blank %}
            <a
              href="{{- ctaUrl -}}"
              class="c-callout-cta__btn o-btn is-alternative is-large"
            >
              {{- ctaLabel -}}
            </a>
          {% endif %}
        </div>
      {%- endif -%}
    </div>
  </section>

  {%- comment -%} Bottom Wave {%- endcomment -%}
  {%- if bottomWave != "0" -%}
    {%- render 'object.wave' with {
      waveNumber:bottomWave
      color1: bottomColor1
      color2: bottomColor2,
      isFlipped: isFlippedBottom
    } -%}
  {%- endif -%}

{% endif %}

{% schema %}
{
  "name": "Callout with CTA",
  "class": "c-section c-section__callout-cta",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Dimensions: 1120px X 920px"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "cta-label",
      "label": "CTA Label"
    },
    {
      "type": "url",
      "id": "cta-url",
      "label": "CTA URL"
    },
    {
      "type": "header",
      "content": "Top Wave"
    },
    {
      "type": "select",
      "id": "top-wave",
      "label": "Top Wave",
      "default": "0",
      "options": [
        {
          "value": "0",
          "label": "No Wave"
        },
        {
          "value": "1",
          "label": "Wave 1"
        },
        {
          "value": "2",
          "label": "Wave 2"
        },
        {
          "value": "3",
          "label": "Wave 3"
        }
      ]
    },
    {
      "type": "color",
      "id": "top-color-1",
      "label": "Color 1"
    },
    {
      "type": "color",
      "id": "top-color-2",
      "label": "Color 2"
    },
    {
      "type": "checkbox",
      "id": "flip-top-wave",
      "label": "Flip wave vertically",
      "default": false
    },
    {
      "type": "header",
      "content": "Bottom Wave"
    },
    {
      "type": "select",
      "id": "bottom-wave",
      "label": "Bottom Wave",
      "default": "0",
      "options": [
        {
          "value": "0",
          "label": "No Wave"
        },
        {
          "value": "1",
          "label": "Wave 1"
        },
        {
          "value": "2",
          "label": "Wave 2"
        },
        {
          "value": "3",
          "label": "Wave 3"
        }
      ]
    },
    {
      "type": "color",
      "id": "bottom-color-1",
      "label": "Color 1"
    },
    {
      "type": "color",
      "id": "bottom-color-2",
      "label": "Color 2"
    },
    {
      "type": "checkbox",
      "id": "flip-bottom-wave",
      "label": "Flip wave vertically",
      "default": false
    }
  ]
}
{% endschema %}
