{%- comment -%}
  Featured Content 5
    Section to show content with some images, content and a cta

  Version:
    1.0.0 - 2021/10/19
{%- endcomment -%}

{{ 'sections.featured-content-5.css' | asset_url | stylesheet_tag }}

{%- comment -%} Assign variables {%- endcomment -%}
{%- liquid
  assign image = section.settings.image
  assign title = section.settings.title | escape
  assign content = section.settings.content
  assign ctaLabel = section.settings.cta-label | escape
  assign ctaUrl = section.settings.cta-url 

  assign topWave = section.settings.top-wave
  assign topColor1 = section.settings.top-color-1
  assign topColor2 = section.settings.top-color-2
  assign isFlippedTop = section.settings.flip-top-wave

  assign bottomWave = section.settings.bottom-wave
  assign bottomColor1 = section.settings.bottom-color-1
  assign bottomColor2 = section.settings.bottom-color-2
  assign isFlippedBottom = section.settings.flip-bottom-wave
-%}

{%- if image != blank and title != blank -%}

  {%- comment -%} Top Wave {%- endcomment -%}
  {%- if topWave != "0" -%}
    {%- render 'object.wave' with {
      waveNumber:topWave
      color1: topColor1
      color2: topColor2,
      isFlipped: isFlippedTop
    } -%}
  {%- endif -%} 
  
  <section class="c-featured-content-5">
    <div class="-featured-content-5__outer">
      <div class="c-featured-content-5__inner">

        {%- comment -%} Images/Illustration Wrapper {%- endcomment -%}
        <div class="c-featured-content-5__image-wrapper">
          {%- comment -%} Image {%- endcomment -%}
          <div class="c-featured-content-5__image-container o-responsive-image-container">
            {%- render 'tool.picture' with {
              image: image,
              class: "c-featured-content-5__image o-responsive-image",
              width: 710,
              imageSizes:'236,360,610'
              sizes: '375,500,750'
              lazy:true
            } -%}
          </div> 
        </div>
  
        {%- comment -%} Content Container {%- endcomment -%}
        <div class="c-featured-content-5__content-container">
  
          {%- comment -%} Title{%- endcomment -%}
          <h2 class="c-featured-content-5__title">
            {{- title -}}
          </h2>

          {%- comment -%} Content {%- endcomment -%}
          {%- if content != blank -%}
            <div class="c-featured-content-5__content o-paragraph featured__content">
              {{- content -}}
            </div>
          {%- endif -%}

          {%- comment -%} Call to action {%- endcomment -%}
          {%- if ctaLabel != blank and ctaUrl != blank -%}
            <div class="c-featured-content-5__cta-container">
              <a
                href="{{- ctaUrl -}}"
                class="c-featured-content-5__cta-btn o-btn is-alternative"
              >
                {{- ctaLabel -}}
              </a>
            </div>
          {%- endif -%}
        </div>
  
      </div>
    </div>
  </section>  
  {%- comment -%} Bottom Wave {%- endcomment -%}
  {%- if bottomWave != "0" -%}
    {%- render 'object.wave' with {
      waveNumber:bottomWave
      color1: bottomColor1
      color2: bottomColor2,
      isFlipped: isFlippedBottom
    } -%}
  {%- endif -%}

{%- endif -%}


{% schema %}
{
  "name": "Featured Content 5",
  "class": "c-section c-section__featured-content-5",
  "presets": [
    {
      "category": "Content",
      "name":"Featured Content 5"
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Dimensions: 1720px X 1582px"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "cta-label",
      "label": "CTA Label"
    },
    {
      "type": "url",
      "id": "cta-url",
      "label": "CTA Url"
    },
    {
      "type": "header",
      "content": "Top Wave"
    },
    {
      "type": "select",
      "id": "top-wave",
      "label": "Top Wave",
      "default": "0",
      "options": [
        {
          "value": "0",
          "label": "No Wave"
        },
        {
          "value": "1",
          "label": "Wave 1"
        },
        {
          "value": "2",
          "label": "Wave 2"
        },
        {
          "value": "3",
          "label": "Wave 3"
        }
      ]
    },
    {
      "type": "color",
      "id": "top-color-1",
      "label": "Color 1"
    },
    {
      "type": "color",
      "id": "top-color-2",
      "label": "Color 2"
    },
    {
      "type": "checkbox",
      "id": "flip-top-wave",
      "label": "Flip wave vertically",
      "default": false
    },
    {
      "type": "header",
      "content": "Bottom Wave"
    },
    {
      "type": "select",
      "id": "bottom-wave",
      "label": "Bottom Wave",
      "default": "0",
      "options": [
        {
          "value": "0",
          "label": "No Wave"
        },
        {
          "value": "1",
          "label": "Wave 1"
        },
        {
          "value": "2",
          "label": "Wave 2"
        },
        {
          "value": "3",
          "label": "Wave 3"
        }
      ]
    },
    {
      "type": "color",
      "id": "bottom-color-1",
      "label": "Color 1"
    },
    {
      "type": "color",
      "id": "bottom-color-2",
      "label": "Color 2"
    },
    {
      "type": "checkbox",
      "id": "flip-bottom-wave",
      "label": "Flip wave vertically",
      "default": false
    }
  ]
}
{% endschema %}
