{%- comment -%}
  Reset Password
    Section template for the reset password page.

  Version
    1.0.0 - 2020/03/26
{%- endcomment -%}

{{ 'sections.account.css' | asset_url | stylesheet_tag }}

<div class="p-customer c-reset-password-template">
  <div class="c-reset-password-template__main">

    {%- comment -%} Title {%- endcomment -%}
    <h2 class="c-reset-password__title">
      <span class="o-title o-heading__inner o-heading--3">
        {{- 'customer.reset_password.title' | t -}}
      </span>
    </h2>

    {%- form 'reset_customer_password', class: 'p-customer__form' -%}

      {{ form.errors | default_errors }}

      <input type="password"
        name="customer[password]"
        id="ResetPassword"
        class="o-input c-login-register__input {% if form.errors contains 'password' %}input-error{% endif %}"
        placeholder="{{ 'customer.reset_password.password' | t }}">

      <input type="password"
        name="customer[password_confirmation]"
        id="PasswordConfirmation"
        class="o-input c-login-register__input {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
        placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

      {%- comment -%} Cancel Button {%- endcomment -%}
      <button
        type="submit"
        class="o-btn c-addresses__btn is-right"
      >
      {{- 'customer.reset_password.submit' | t -}}
      </button>

    {%- endform -%}

  </div>
</div>
