{{ 'sections.judge-reviews.css' | asset_url | stylesheet_tag }}
{{ 'sections.reviews.js' | asset_url | script_tag }}

{%- liquid
  assign title =   section.settings.title | escape

  assign topWave = section.settings.top-wave
  assign topColor1 = section.settings.top-color-1
  assign topColor2 = section.settings.top-color-2
  assign isFlippedTop = section.settings.flip-top-wave

  assign bottomWave = section.settings.bottom-wave
  assign bottomColor1 = section.settings.bottom-color-1
  assign bottomColor2 = section.settings.bottom-color-2
  assign isFlippedBottom = section.settings.flip-bottom-wave
-%}
 



<div class="c-judge-reviews" data-reviews-container>

  {%- comment -%} Top Wave {%- endcomment -%}
  {%- if topWave != "0" -%}
    {%- render 'object.wave' with {
      waveNumber:topWave
      color1: topColor1
      color2: topColor2,
      isFlipped: isFlippedTop
    } -%}
  {%- endif -%}
  <div class="c-judge-reviews__inner">
    {%- if title != blank -%}
      <h3 class="c-judge-reviews__title">
        {{- title -}}
      </h3>
    {%- endif -%}

    <div class="c-judge-reviews__widget">
      <div id="judgeme_product_reviews" class="jdgm-widget jdgm-review-widget" data-product-title="{{ product.title }}" data-id="{{ product.id }}">
        {{ product.metafields.judgeme.widget }}
      </div>
    </div>
  </div>

  {%- comment -%} Bottom Wave {%- endcomment -%}
  {%- if bottomWave != "0" -%}
    {%- render 'object.wave' with {
      waveNumber:bottomWave
      color1: bottomColor1
      color2: bottomColor2,
      isFlipped: isFlippedBottom
    } -%}
  {%- endif -%}
</div>




{% schema %}
{
  "name": "Judge Reviews",

  "class": "c-section c-section__judge-reviews",
  "presets": [
    {
      "category": "Reviews",
      "name":"Judge Reviews"
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "Please note this section will be hidden if there are no reviews. If there are waves in the section below or above, consider moving them to this section"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Loved by Erstwildians"
    },
    {
      "type": "header",
      "content": "Top Wave"
    },
    {
      "type": "select",
      "id": "top-wave",
      "label": "Top Wave",
      "default": "0",
      "options": [
        {
          "value": "0",
          "label": "No Wave"
        },
        {
          "value": "1",
          "label": "Wave 1"
        },
        {
          "value": "2",
          "label": "Wave 2"
        },
        {
          "value": "3",
          "label": "Wave 3"
        }
      ]
    },
    {
      "type": "color",
      "id": "top-color-1",
      "label": "Color 1"
    },
    {
      "type": "color",
      "id": "top-color-2",
      "label": "Color 2"
    },
    {
      "type": "checkbox",
      "id": "flip-top-wave",
      "label": "Flip wave vertically",
      "default": false
    },
    {
      "type": "header",
      "content": "Bottom Wave"
    },
    {
      "type": "select",
      "id": "bottom-wave",
      "label": "Bottom Wave",
      "default": "0",
      "options": [
        {
          "value": "0",
          "label": "No Wave"
        },
        {
          "value": "1",
          "label": "Wave 1"
        },
        {
          "value": "2",
          "label": "Wave 2"
        },
        {
          "value": "3",
          "label": "Wave 3"
        }
      ]
    },
    {
      "type": "color",
      "id": "bottom-color-1",
      "label": "Color 1"
    },
    {
      "type": "color",
      "id": "bottom-color-2",
      "label": "Color 2"
    },
    {
      "type": "checkbox",
      "id": "flip-bottom-wave",
      "label": "Flip wave vertically",
      "default": false
    }
  ]
}
{% endschema %}