{% comment %}
  Password Template
    Template that will be displayed when the site is in password protected mode

  Version:
    1.0.0 - 2018/10/31
{% endcomment %}

{{ 'sections.shop-password.css' | asset_url | stylesheet_tag }}

<style>
  .c-page--password {
    background: url("{{ 'password-page-bg.jpg' | file_img_url: 'master' }}") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="c-template-password">
  <div class="c-template-password__wrapper">
      <h2 class="c-template-password__heading o-heading--1">{{ 'general.password_page.heading' | t }}</h2>
      <p class="c-template-password__subheading o-heading--4">{{ 'general.password_page.subheading' | t }}</p>
      {%- unless shop.password_message == blank -%}
        <span class="o-heading__inner">{{- shop.password_message -}}</span>
      {%- endunless -%}
  </div>

  <section class="c-template-password__password">

    {%- form 'storefront_password' -%}
      {{- form.errors | default_errors -}}

      <div class="c-template-password__input-container">
        <label for="password" class="u-visually-hidden">
          {{ 'general.password_page.login_form_heading' | t }}
        </label>

        <input
          type="password"
          class="o-input c-template-password__input"
          name="password"
          id="password"
          placeholder="{{ 'general.password_page.login_form_heading' | t }}"
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off"
          required
        />

        <button class="o-btn c-template-password__btn" type="submit">
          {{ 'general.password_page.login_form_submit' | t }}
        </button>
      </div>

    {%- endform -%}

    <p class="c-template-password__password-subheading o-paragraph--2">{{ 'general.password_page.admin_link_html' | t }}</p>
  </section>

  <section class="c-template-password__register">
    {%- form 'customer' -%}
      {{- form.errors | default_errors -}}
      {%- if form.posted_successfully? -%}
        <div class="c-template-password__success-msg">{{ 'general.password_page.signup_form_success' | t }}</div>
      {%- else -%}
        <p class="c-template-password__register-title">{{ 'general.password_page.signup_form_heading' | t }}</p>
        <p class="c-template-password__register-subtitle o-paragraph--2">{{ 'general.password_page.signup_form_subheading' | t }}</p>

        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <input type="hidden" name="customer[accepts_marketing]" value="" />

        <div class="c-template-password__input-container">
          <label for="email" class="u-visually-hidden">
            {{- 'general.password_page.signup_form_email_label' | t -}}
          </label>

          <input
            type="email"
            class="o-input c-template-password__input"
            name="contact[email]"
            required
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
            placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
          />

          <button type="submit" class="o-btn c-template-password__btn">
            {{- 'general.password_page.signup_form_submit' | t -}}
          </button>
        </div>
      {%- endif -%}
    {%- endform -%}
  </section>

</div>